<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}Moa {{ fullpath }}{% endblock %}</title>

 <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<!--<link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">-->
<link href="/static/bootstrap-switch/stylesheets/bootstrap-switch.css" rel="stylesheet" media="screen">

<link href="/static/moa.css" rel="stylesheet" media="screen">

<script src="/static/jquery/jquery-1.10.2.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/bootstrap-switch/js/bootstrap-switch.js"></script>
<script src="/static/datatables/js/jquery.dataTables.js"></script>
<script src="/static/DT_bootstrap.js"></script>
<script src="/static/moa.js"></script>

{% block inhead %}
{% endblock %}
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">Moa</a>
        <div class="nav-collapse collapse">

          <ul class="nav">
            {% block menu %}
            {% for c in allcommands %}
            {% set ci = allcommands[c] %}
            {% if not (ci.mustHaveJob and not isMoa)  %}
            <li {% if command == c %}class="active"{% endif %}>
              <a href="/{{ localurl }}?c={{c}}">{{c}}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% endblock %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>


    <ul class="breadcrumb">
      <li {% if crumbs|length < 2 and crumbs[0] == '.' %}class="active"{% endif %}>
        <a href="/">{{ base_path }}</a>
      </li><span class="divider"> / </span>
      {% if crumbs|length == 1 and crumbs[0] == '.' %}
      {% else %}
      {%- for crumb in crumbs -%}
      <li {% if loop.last %}class="active"{% endif %}>
        <a href="{%- if loop.index0 > 0 %}/{% endif -%}
          {{ crumbs[:loop.index0]|join('/') }}/{{ crumb }}">{{ crumb }}
        </a>
      </li><span class="divider"> / </span>
    {%- endfor %}{% endif %}
    </ul>


<div class="row">
  <div class="span1">
    <div id="sidebarheader">
    <h3 class="text-warning">{%- block header %}TITLE{% endblock -%}</h3>
    </div>
  </div>
  <div class="container span11">
  {% block body %}
	 <p>Lorem ipsum enzovoort</p>
  {% endblock %}
  </div>
</div>

</body>
</html>
